// Abstracts
@import 'abstracts/_cores';
@import 'abstracts/_breakpoints';

// Base
@import 'base/_normalize';
@import 'base/_fontes';
@import 'base/_meu-reset';

// Layout
@import 'layout/_container';
@import 'layout/_cabecalho';
@import 'layout/_rodape';
@import 'layout/_alinhamento-texto';
@import 'layout/_alinhamento-img';

// Components
@import 'components/_depoimentos';
@import 'components/_formularios';
@import 'components/_logo';
@import 'components/_mapa';
@import 'components/_menu-principal';
@import 'components/_pagina-conteudo';
@import 'components/_paginas-cabecalho';
@import 'components/_servicos';


// Pages
@import 'pages/_contato';
@import 'pages/_pagina-inicial';
@import 'pages/_portfolio';
@import 'pages/_sobre';

// Vendors
@import 'vendors/_slick';
@import 'vendors/_slick-theme';
@import 'vendors/jquery.fancybox.min'

